<div class="animated fadeIn pt-5 container principal">
   
    <h1>Acerca de Tante Lise</h1>


    <img src="https://picsum.photos/1200/500/?random" class="img-fluid"/>

    <h2>Tradición Familiar</h2>
    <p>Tante Lise, asi le decían sus sobrinos y ahijados a su abuelita, ella fue una gran inspiración y ejemplo en la fabricación de exquisitas 
      recetas basadas en la pastelería alemana. Con ricas tortas y kuchen sorprendia y demostraba todo su cariño a su familia. 
      Con ese legado hemos creado nuestra querida pastelería TANTE LISE, que basa sus recetas en la tradición familiar y el gusto por los 
      productos hechos en casa. 

    Además de ofrecer productos dulces también hemos incluido sabrosas preparaciones saladas para recibir a sus invitados como se lo merecen, con ricas brochetas, 
    canapés, crostinis, tablas de queso, dentro de una gran gama de otros productos.
    </p>
</div>