
   
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark border-bottom">
  <div class="container">
      <div class="d-block d-md-none d-flex">
            <a class="navbar-brand mr-auto p-2" href="#">          
                    <img src="../../../../../assets/img/Logo_502x502_v2.png" width="42"  class="img-fluid mx-auto" alt="Responsive image"/>
              </a>
            <button class="navbar-toggler p-2" type="button" data-toggle="offcanvas">
              <span class="navbar-toggler-icon"></span>
            </button>
      </div>


      <div  class="logotante d-none d-md-block "><a href="#/inicio">
          <img src="../../../../../assets/img/Logo_502x502_v2.png" class="img-fluid mx-auto" width="84" alt="">
         </a>
      </div>

        <div class="navbar-collapse offcanvas-collapse d-md-flex justify-content-center" id="navbarsExampleDefault">


          <ul class="navbar-nav d-flex ">
              <li routerLinkActive="active" ><a class="nav-link" [routerLink]="['/inicio']"><i class="fas fa-home"></i> Inicio</a></li>
              <li routerLinkActive="active" ><a class="nav-link" [routerLink]="['/productos']"><i class="fas fa-birthday-cake"></i> Productos</a></li>
              <li routerLinkActive="active" ><a class="nav-link" [routerLink]="['/servicios']"><i class="fas fa-glass-martini"></i> Servicios</a></li>


              <li routerLinkActive="active" ><a class="nav-link" [routerLink]="['/multimedia']"><i class="fas fa-camera"></i> Multimedia</a></li>
              <li routerLinkActive="active" ><a class="nav-link" [routerLink]="['/acerca']"><i class="fas fa-users"></i> Acerca de</a></li>
              <li routerLinkActive="active" ><a class="nav-link" [routerLink]="['/contacto']"><i class="fas fa-envelope"></i> Contácto</a></li>
          </ul>
        </div>
    </div>
</nav>
