
<div class="principal">
  <div class="container-fluid px-0">
    <app-slide></app-slide>
  </div>
  <br/>
  <br/>

  <div class="container">
    <div class="card-deck">

          <div class="card">
            <img class="card-img-top" src="https://picsum.photos/284/160/?image=398" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ricas tortas para cumpleaños y eventos</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>

          <div class="card">
              <img class="card-img-top" src="https://picsum.photos/284/160/?image=567" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Celebra con los más deliciosos productos de cocktail</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
          </div>

          <div class="card">
              <img class="card-img-top" src="https://picsum.photos/284/160/?image=387" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Conoce nuestros servicios de banquetería</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
          </div>
    </div>
  </div>  
</div>