
<div class="animated fadeIn">
  
  <app-slide></app-slide>

<br/>
<br/>

  <div class="card-deck">

        <div class="card">
          <img class="card-img-top" src="http://via.placeholder.com/284x160" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ricas tortas para cumpleaños y eventos</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="http://via.placeholder.com/284x160" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Celebra con los más deliciosos productos de cocktail</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="http://via.placeholder.com/284x160" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Conoce nuestros servicios de banquetería</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>

</div>

